{% extends 'base.html' %}
{% load static %}

{% block title %}TLMS Panel{% endblock %}

{% block content %}
<style>
    .certificate::before {
            content: "";
            position: absolute;
            top: 7mm;
            right: 7mm;
            bottom: 7mm;
            left: 7mm;
            border: 2px solid #3454d1;
            pointer-events: none;
            z-index: 5;
        }

        .certificate::after {
            content: "";
            position: absolute;
            top: 9mm;
            right: 9mm;
            bottom: 9mm;
            left: 9mm;
            border: 1px solid #3454d1 ;
            pointer-events: none;
            z-index: 5;
        }

        .my-table th,
        .my-table td {
            white-space: normal !important;
            word-break: break-all !important;
            overflow-wrap: anywhere !important;
            overflow: hidden !important;
        }
</style>
<main class="content">
    <section class="page-inner d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-3">
         <div class="page-heading">
             <h1 class="page-title">Trade Licence Certificate</h1>
         </div>
    </section>

    <section class="mb-4">
     <div class="card">
         <div class="card-body p-4">

            <div class="certificate-wrapper" id="printableArea" style="padding: 30px 15px;">

                <main class="certificate" style="position: relative; width: 210mm; min-width: 297mm; max-width: 100%; margin: 0 auto; padding: 17mm 17mm; background: #ffffff; overflow: hidden;">
                    <div class="watermark-logo" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 250px; height: 250px; z-index: 1; pointer-events: none; display: flex; align-items: center; justify-content: center;">
                        <img src="{% static 'images/logo/logo.png' %}" alt="watermark logo" aria-hidden="true" style="width: 100%; height: 100%; object-fit: contain; display: block; opacity: 0.055;">
                    </div>

                    <!-- CONTENT -->
                    <div class="certificate-content">
                        <!-- HEADER -->
                        <div style="text-align: center; padding-bottom: 13px; margin-bottom: 15px; border-bottom: 2px solid #000;">
                            <div class="emblem" style="width: 75px; height: 75px; margin: 0 auto 8px; display: flex; align-items: center; justify-content: center; text-align: center;color: #143bd3;">
                                <img src="{% static 'images/logo/logo.png' %}" alt="top main logo" aria-hidden="true" style="width: 100%; height: 100%; object-fit: contain; display: block;">
                            </div>
                            <div class="gov-name" style="color: #000; font-size: 25px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px;">
                               Regional Municipal Corporation
                            </div>
                            <div class="department" style="margin-top: 1px; color: #344b60; font-size: 13px; font-weight: 600;">
                                Government Department
                            </div>
                            <div class="office" style="color: #535353; font-size: 12px;">
                                Licence u/s 554 Municipal Act 2003
                            </div>
                            <div class="office" style="color: #535353; font-size: 11px;">
                                (The licence is not transferable in respect to name or place)
                            </div>
                            <div class="office" style="color: #535353; font-size: 11px;">
                                (This licence must be kept in a prominent visible part of the business place)
                            </div>
                        </div>
            
                        <!-- TITLE -->
                        <section class="certificate-title" style="text-align: center; margin: 18px 0 18px;">
                            <h1 style="margin: 0; color: #000; font-size: 21px; font-weight: 700; letter-spacing: 1px;">
                                TRADE LICENCE CERTIFICATE
                            </h1>
                            <h2 style="margin: 5px 0 0; color: #555; font-size: 15px; font-weight: 600;">
                                व्यापार अनुज्ञप्ति प्रमाण पत्र
                            </h2>
                            <div class="title-line" style="width: 115px; height: 3px; margin: 10px auto 0; background: #000;"></div>
                        </section>
            
                        <!-- MAIN INFORMATION -->
                        <section class="meta-box" style="padding: 12px 15px; margin-bottom: 19px; background-color: rgb(244, 252, 255); border: 1px solid rgb(224, 246, 255);">
            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="meta-item" style="display: flex; gap: 7px; margin-bottom: 5px; font-size: 13px;">
                                        <span class="meta-label" style="font-weight: 700; margin-bottom: 0;">
                                            Certificate No.:
                                        </span>
                                        <span class="meta-value" style="margin-bottom: 0; color: #222; font-weight: 500;">
                                            CER-TL-2026-000001
                                        </span>
                                    </div>
                                </div>
            
                                <div class="col-md-6">
                                    <div class="meta-item" style="display: flex; gap: 7px; margin-bottom: 5px; font-size: 13px;">
                                        <span class="meta-label" style="font-weight: 700; margin-bottom: 0;">
                                            Issue Date:
                                        </span>
                                        <span class="meta-value" style="margin-bottom: 0; color: #222; font-weight: 500;">
                                            1 October 2026
                                        </span>
                                    </div>
                                </div>
            
                                <div class="col-md-6">
                                    <div class="meta-item" style="display: flex; gap: 7px; margin-bottom: 5px; font-size: 13px;">
                                        <span class="meta-label" style="font-weight: 700; margin-bottom: 0;">
                                            Trade Licence No.:
                                        </span>
                                        <span class="meta-value" style="margin-bottom: 0; color: #222; font-weight: 500;">
                                            JV-TL-2026-100001
                                        </span>
                                    </div>
                                </div>
            
                                <div class="col-md-6">
                                    <div class="meta-item" style="display: flex; gap: 7px; margin-bottom: 5px; font-size: 13px;">
                                        <span class="meta-label" style="font-weight: 700; margin-bottom: 0;">
                                            Valid Upto:
                                        </span>
                                        <span class="meta-value" style="margin-bottom: 0; color: #222; font-weight: 500;">
                                            31 March 2027
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </section>
        
                        <p class="intro" style="margin-bottom: 13px; font-size: 13px; line-height: 1.85; text-align: justify;">
            
                            This is to certify that the following trade/business has been registered/licensed for operation within the jurisdiction of the regional municipal Corporation, subject to the applicable laws, rules, regulations and conditions governing the issue of a Trade Licence.
            
                        </p>
            
                        <!-- BUSINESS NAME -->
                        <div class="business-name" style="padding: 11px 15px; margin: 14px 0; text-align: center; background: rgba(247, 252, 255, 0.94); border-top: 1px solid #ccd5dc; border-bottom: #ccd5dc; font-weight: 700;">
            
                            M/S SHARMA GENERAL STORE
            
                        </div>

                        <!-- APPLICANT DETAIL -->
                        <table class="table my-table" style="width: 100%; max-width: 100%; margin-top: 15px; border-collapse: collapse; font-size: 12px; border: 1px solid #d7dadd; pointer-events: none; table-layout: fixed;">
            
                            <tbody>
                                <tr>
                                    <th width="30%">
                                        Name of Applicant / Proprietor
                                    </th>
                                    <td width="70%">
                                        Mr. Rajesh Kumar Sharma
                                    </td>
                                </tr>

                                <tr>
                                    <th>
                                        Trade / Business Name
                                    </th>
                                    <td>
                                        Sharma General Store
                                    </td>
                                </tr>
            
                                <tr>
                                    <th>
                                        Nature of Trade
                                    </th>
                                    <td>
                                        Retail General Merchandise
                                    </td>
                                </tr>
            
                                <tr>
                                    <th>
                                        Business Address
                                    </th>
                                    <td>
                                        Shop No. 25, City Market, Jaipur, Rajasthan - 302001
                                    </td>
                                </tr>
            
                                <tr>
                                    <th>
                                        Municipal Authority
                                    </th>
                                    <td>
                                        Jaipur Municipal Corporation
                                    </td>
                                </tr>
            
                                <tr>
                                    <th>
                                        Licence Period
                                    </th>
                                    <td>
                                        01 October 2026 to 30 September 2027
                                    </td>
                                </tr>
            
                                <tr>
                                    <th>
                                        Licence Category
                                    </th>
                                    <td>
                                        Trade / Commercial Establishment
                                    </td>
                                </tr>
                            </tbody>
                        </table>
            
                        <!-- SIGNATURE / VERIFICATION -->
                        <section class="signature-area" style="margin-top: 27px;">
            
                            <div class="row align-items-end">                    
            
                                <!-- DATE -->
            
                                <div class="col-4">
            
                                    <div style="min-height: 105px; padding-top: 45px; text-align: left;">                    
                                        <div style="color: #555; font-size: 10.5px;">
                                            Date of Issue: <span class="signature-text" style="font-size: 11.5px; font-weight: 700; color: #222;">01 October 2026</span>
                                        </div>
                                        <div style="color: #555; font-size: 10.5px;">
                                            Receipt No.: <span class="signature-text" style="font-size: 11.5px; font-weight: 700; color: #222;">20260000000187</span>
                                        </div>                    
                                    </div>
            
                                </div>

                                <!-- AUTHORITY -->
            
                                <div class="col-4">
            
                                    <div class="signature-box" style="min-height: 105px; padding-top: 45px; text-align: center;">
            
                                        <div class="signature-line" style="width: 165px; margin: 0 auto 5px; border-top: 1px solid #444;"></div>
            
                                        <div class="signature-name" style="font-size: 14px;">
                                            Authorized Officer
                                        </div>
            
                                        <div class="signature-designation" style="color: #555; font-size: 10.5px;">
                                            Municipal Commissoner
                                        </div>
            
                                        <div style="color: #555; font-size: 10.5px;">
                                            Regional Municipal Corporation
                                        </div>
            
                                    </div>
            
                                </div>
            
                                <!-- QR -->
            
                                <div class="col-4">
                                    <div class="qr-box" style="width: 88px; height: 88px; margin:auto; border: 1px solid #222; display: flex; align-items: center; justify-content: center;">
                                        <img src="{% static 'images/qr/sampleqr.png' %}" alt="qr" width="80px">
                                    </div>
            
                                    <div class="verify-text" style="text-align: center; margin-top: 5px; font-size: 9px; color: #555;">
                                        Certificate Verification
                                    </div>
                                </div>
            
                            </div>
            
                        </section>

                        <!-- TERMS -->
                        <h3 style="margin-top: 22px; margin-bottom: 9px; padding-bottom: 5px; color: #000; border-bottom: 1px solid #c7d0d8; font-size: 14px; font-weight: 700;">
                            Note:
                        </h3>
                        <ol class="conditions" style="margin: 0; padding-left: 21px; font-size: 11.2px; line-height: 1.7;">
                            <li>
                                This licence is applicable only to the
                                trade/business and location specified in
                                this certificate.
                            </li>               
                            <li>
                                The licence holder shall comply with all
                                applicable municipal laws, rules, regulations
                                and conditions.
                            </li>
                            <li>
                                This licence does not by itself establish
                                ownership rights over the premises.
                            </li>
                        </ol>
    
                        <!-- FOOTER -->
                        <footer class="bottom-footer" style="display: flex; justify-content: space-between; gap: 15px; margin-top: 10px; padding-top: 5px; border-bottom: 1px solid #cbd3da; font-size: 9px; color: #59636c;">
                            <div>
                                Generated Date: <span>01/10/2026</span>
                            </div>
                            <div>
                                This is computer generated trade licence. 
                            </div>
                        </footer>
            
                    </div>
            
                </main>
            
            </div>
            <div class="d-print-none">
                <p class="text-center pt-2">
                    <button type="button" class="btn btn-sm btn-primary app-open-btn my-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Print" onclick="printTable('printableArea')">
                        <svg viewBox="0 0 24 24" fill="currentColor"><path d="M17 2C17.5523 2 18 2.44772 18 3V7H21C21.5523 7 22 7.44772 22 8V18C22 18.5523 21.5523 19 21 19H18V21C18 21.5523 17.5523 22 17 22H7C6.44772 22 6 21.5523 6 21V19H3C2.44772 19 2 18.5523 2 18V8C2 7.44772 2.44772 7 3 7H6V3C6 2.44772 6.44772 2 7 2H17ZM16 17H8V20H16V17ZM20 9H4V17H6V16C6 15.4477 6.44772 15 7 15H17C17.5523 15 18 15.4477 18 16V17H20V9ZM8 10V12H5V10H8ZM16 4H8V7H16V4Z"></path></svg>
                        Print
                    </button>
                </p>
             </div>
         </div>
     </div>

 </section>
</main>
{% endblock %}